.breathe-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  opacity: 0;
}

.breathe-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breathe {
  font-family: "Playfair Display";
  font-size: calc(.8 * var(--max-font));
  width: fit-content;
  margin-bottom: 15px; /* add space between text and dots */
}

.dots {
  display: flex;
  gap: calc(3.15 * var(--max-font));
  justify-content: center;
}

.dot {
  background-color: #4B6B44;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  opacity: 0;
}

@media (min-aspect-ratio: 12/9) {
.breathe {
  margin-bottom: 30px; /* add space between text and dots */
}

}
